h1 {
    color: #fff;
    display: inline-block;
    background-color: red;
}

div {
    border: 2px solid black;
    max-width: 250px;
    max-height: 250px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}   