h1 {
    color: #fff;
    display: inline-block;
    background-color: red;
}

div {
    border: 2px solid black;
    max-width: 250px;
    max-height: 250px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}   

h2{
    color: red;
    font-weight: bold;
}

.customer {
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid red;
    max-block-size: 250px;
}